.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .filters-enabled{

    background-color: yellow;

  }

  .filters-disabled{
    background-color: blue;
  }
  
  .completed-filter, .pending-filter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .completed-filter .ant-switch, .pending-filter .ant-switch {
    margin-right: 8px;
  }
  
span{
    width: 50px;
    padding-left: 10px;
}